@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />
<div class="quote-wrapper">
    <blockquote class="text" cite="http://www.inspireux.com/category/quotes/jesse-james-garrett/">
        <p>
            “A reader lives a thousand lives before he dies . . . The man who never reads lives only one.”
        </p>
        <footer>– George R.R. Martin</footer>
    </blockquote>
</div>