@{
    ViewData["Title"] = "Home Page";
}

<section class="content">
    <div class="contentHeader">Discover</div>
    <div><img class="bookCover" src="http://books.google.com/books/content?id=OmQawwEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" /></div>
    <div><img class="bookCover" src="http://books.google.com/books/content?id=OmQawwEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" /></div>
    <div><img class="bookCover" src="http://books.google.com/books/content?id=OmQawwEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" /></div>
    <div><img class="bookCover" src="http://books.google.com/books/content?id=OmQawwEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" /></div>
    <div><img class="bookCover" src="http://books.google.com/books/content?id=OmQawwEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" /></div>
</section>
