.content{
    display: flex;
    gap: 50px;
    max-height: 180px;
    padding-top: 30px;
    padding-right: 50px;
  
    background-color: #CEC4C1; 
  }

  .contentHeader {
    vertical-align: middle;
    align-self: center;
    margin: auto;
    justify-content: center;
  
    font-size: 10px;
    font-family: arial;
    letter-spacing: 2px;
    color:#645757;
  }

  .bookCover {
    border: 20px #F9EFEF solid;
    width: 140px;
    height: 209px;
  }