.content {
  display: flex;
  gap: 50px;
  max-height: 180px;
  padding-right: 50px;
  background-color: #CEC4C1;
}

.contentHeader {
  vertical-align: middle;
  align-self: center;
  margin: auto;
  justify-content: center;

  font-size: 16px;
  font-family: 'Alegreya Sans SC';
  letter-spacing: 2px;
  color: #5e4949;
}

.bookCover {
  border: 20px #F9EFEF solid;
  width: 140px;
  height: 209px;
}