/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Header */
.navbar-brand {
  font-size: 30px;
  font-family: 'Cinzel Decorative';
  color: #645757 !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.topSeparator {
  height: 30px;
  background-color: #A5B2B7;
}

nav {
  background-color: #F9EFEF !important;
  padding-bottom: 0 !important;
  font-size: 14px;
  letter-spacing: 2px;
}

.nav2-item {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 2px #F9EFEF solid
}

.nav2-item:hover {
  border-bottom: 2px #BEABA5 solid;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 3px;
  color: #645757;
}

hr.solid {
  border-top: 2px solid #CEC4C1;
}

/* Global selectors settings */

body {
  margin-bottom: 60px;
  background-color: #F9EFEF !important;
}

a {
  color: #645757;
}

a:hover {
  color: #BEABA5;

}

.btn-primary {
  color: #fff;
  background-color: #8d7466;
  border-color: #8d7466;
}

.btn-primary:hover {
  background-color: #A5B2B7;
  border-color: #A5B2B7;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #A5B2B7;
  border-color: #A5B2B7;
}

p {
  font-size: 14px;
  color: #4f3838;
  letter-spacing: 1px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.bookCover {
  border: 20px #F9EFEF solid;
  width: 140px;
  height: 209px;
  margin-top: 20px;
}



/* Footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background-color: #A5B2B7;
  color: #fff !important;
  line-height: 60px;
}